# Compiled class files
bin/  # Eclipse output folder
*.class



# Log files
*.log

# BlueJ
*.ctxt

# Mobile Tools for Java
.mtj.tmp/

# JVM crash logs
hs_err_pid*
replay_pid*

# OS files
.DS_Store
Thumbs.db
